* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  color: white;
}

.menu {
  list-style: none;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.menu li {
  color: black;
  border: 1px solid black;
  flex: 1;
  text-align: center;
  padding: 4px 0 4px 0;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 18px;
  justify-content: center;
  color: black;
}

a:hover {
  background-color: black;
  color: white;
}

#selected a {
  color: white;
}

#selected {
  background-color: black;
  color: white;
}

.menu li:hover {
  background-color: black;
  color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 65px;
}

.logo img {
  margin-left: 20px;
  height: 80px;
  width: 80px;
  margin-top: -15px;
}

.logo h1 {
  font-size: 50px;
}

.texto {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  align-self: center;
  margin-top: 10px;
  height: 400px;
  width: 1120px;
  padding: 0 15px 0 15px;
  justify-content: flex-start;
}

.texto p {
  font-size: 19px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid white;
  align-self: center;
  width: 100%;
  margin-top: 55px;
  padding-top: 10px;
}

.texto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto img {
  margin-right: 100px;
  height: 400px;
}

#nome {
  margin-left: 450px;
}

ul {
  list-style: none;
}

.lista li {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}

h4 {
  margin-top: 7px;
  margin-left: 10px;
  text-align: justify;
}
